<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/image/music-logo.png" alt="" width="100%" height="60px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Podcasts</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            About us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Contact</a></li>
                            <li><a class="dropdown-item" href="#">@Complain</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">@Suggestions</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/image/bollywood reloaded.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/breakup.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/collabrations.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/dance hits.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/Forgotten Hits.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/fresh arrivals.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/hits 2022.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/hottest songs.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/ladies night.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/love songs.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/nations.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/popular hits 2022.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/Romantic.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/sukoons.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/weekly20.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/image/Women k-pop.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>
