<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css" media="all" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/all.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="slick-1.8.1/slick/slick.css">
</head>

<body>
    {{>header}}
    <div class="new-div">
        <div class="releases-div">
            <div class="real-div">
                <a href="">New Releases</a>
            </div>
            <div class="more-div">
                <a href="">More</a>
            </div>
        </div>
        <div class="card-div">
            <div class="img-div">
                <img src="/image/playlists/new releases.webp" alt="">
                <div class="play-div">
                    <a href="/songs"><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    New Mix Songs
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/new-english-songs.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    New English Songs
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/new-hindi-songs.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    New Hindi Songs
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/sad romance.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Sad Romance
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/Alen Waker pt-2.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Walkerverse Pt.II  
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/Bhediya.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Bhediya
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/Born pink.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Born Pink
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/Charlie.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Charlie
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/God Did.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    God Did
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/Hard.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Hard Drive Vol.1
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/Her loss.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Her Loss
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/Jadu Salona.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Jadu Salona
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/legend.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Legend
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/marvel.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Curtain Call 2
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/Midnights.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Midnights
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/Quala.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Qala Music From the Netflix Film
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/sukoon.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Sukoon
                </div>
            </div>
            <div class="img-div">
                <img src="/image/playlists/srch.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    5SOS5
                </div>
            </div>
        </div>
    </div>
    <div class="new-div">
        <div class="releases-div">
            <div class="real-div">
                <a href="">Top Charts</a>
            </div>
            <div class="more-div">
                <a href="">More</a> 
            </div>
        </div>
        <div class="card-div">
            <div class="img-div">
                <img src="/image/top charts/Dance.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Dance Top 50
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/EDM.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    EDM Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/ghazal.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Ghazal Top 50
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/hip hop.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Hip Hop/Rnb Top 20  
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/Heartbreak.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Heartbreak Top 50 
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/indie.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Indie Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/Indipop.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    IndiPop Top 50 
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/k pop.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    K-Pop Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/ltin.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Latin Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/pop.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Pop Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/radio.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Radio Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/Reels.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Discovered On Reels
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/Romance top 40.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Romance Top 40
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/social media.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Social Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/top 20.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Weekly Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/uk.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    UK Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/US top.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    US Top 20
                </div>
            </div>
            <div class="img-div">
                <img src="/image/top charts/Weekly top 20.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Weekly Top 20
                </div>
            </div>
        </div>
    <div class="new-div">
        <div class="releases-div">
            <div class="real-div">
                <a href="">Indie Music</a>
            </div>
            <div class="more-div">
                <a href="">More</a> 
            </div>
        </div>
        <div class="card-div">
            <div class="img-div">
                <img src="/image/Indie music/Asli.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Asli Hip Hop 
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Beyond.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Beyond Music
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Edm.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    EDM India
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Indi Chill.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Indie Chill Mix
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Indian Rock.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Indian Rock
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Indie English.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Indie English
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Indie Hip Hop.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Indie Hip Hop
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Indie Punjabi.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Indie Punjabi
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Latest.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Latest Indie
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Lo-Fi.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Lo-Fi Indie
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/New-Age.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    New Age IndiPop
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Soul.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Soul Indie
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Women Hip.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Women In Hip Hop
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Indie music/Women.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Women In Indie
                </div>
            </div>
        </div>
    </div>
    <div class="new-div">
        <div class="releases-div">
            <div class="real-div">
                <a href="">Top Indie Artists</a>
            </div>
            <div class="more-div">
                <a href="">More</a> 
            </div>
        </div>
        <div class="card-div2">
            <div class="img-div">
                <img src="/image/Top Indie Artists/Ankur.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Ankur Tiwari    
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Anuv.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Anuv Jain
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Chaii.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    When Chai Meet Toast
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Dream.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Dream Note
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Hanita.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Hanita Bhambri
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Kamakshi.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Kamakshi Khanna
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Local Train.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    The Local Train
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Lost Stories.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Lost Stories
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Lucky.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Lucky Ali
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Mali.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Mali
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Naalyak.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Naalayak
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Nikhita.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Nikhita Gandhi
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Prateek Gandhi.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Prateek Gandhi
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Prateek.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Prateek Kuhad
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Reena Gilbert.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Reena Gilbert
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Ritviz.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Ritiviz
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Shashwat.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Shashwat Sachdev
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Vidya.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Vidya Vox
                </div>
            </div>
            <div class="img-div">
                <img src="/image/Top Indie Artists/Zaden.webp" alt="">
                <div class="play-div">
                    <a href=""><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <div class="name-div">
                    Zaeden
                </div>
            </div>
        </div>
        <div class="design-div">
            <span>Design By:Aditya Kumar, Tushar Chauhan</span>
        </div>
    </div>  
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/JQuery/jquery-3.6.1.min.js"></script>
    <script src="/slick-1.8.1/slick/slick.min.js"></script>
    <script src="/slick-1.8.1/slick/slick.js"></script>
    <script>
        $(document).ready(function(){
            $('.card-div').slick({
                dots: true,
                infinite: false,
                speed: 800,
                slidesToShow: 6,
                slidesToScroll: 6,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });
        $(document).ready(function(){
            $('.card-div2').slick({
                dots: true,
                infinite: false,
                speed: 800,
                slidesToShow: 6,
                slidesToScroll: 6,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });
    </script>
</body>
</html>